<section class="section-impression">
    <div>
        <h2 class="heading-secondary">Why Choose Us?</h2>
    </div>
    <div>
        <div class="impression-container">
            <img/>
            <h3 class="heading-teritary">Precise &amp; knowledgeable</h3>
            <p class="impression__text">Over 40 years of experience. Close tolerance tools guaranteed!</p>
        </div>
        <div class="impression-container">
            <img/>
            <h3 class="heading-teritary">Fast &amp; Reliable</h3>
            <p class="impression__text">Facility of mulitple Lasers and die benders to handle any amount of work. We will work with your schedule!</p>
        </div>
        <div class="impression-container">
            <img/>
            <h3 class="heading-teritary">Best Customer Service</h3>
            <p class="impression__text">We will answer any questions you have and keep you informed in the whole tooling process. Even during after hours!</p>
        </div>
    </div>
</section> 