<section class="section-about">
    <div>
        <h2 class="heading-secondary">About Us</h2>
    </div>
    <div>
        <div>
            <h3 class="heading-tertiary">Yun Laser Die has an emphasis on customer service, quailty and satifaction</h3>
            <p class="paragraph">
                With over 40 years in the paper box and packaging industry, Yun Laser Die was started and established part time in a garage. 
            </p> 
            <h3 class="heading-tertiary">We have grown into company with full in-house services with the help of our customers.</h3>
            <p class="paragraph">Let us help with creating hassle free, unproblematic die services for your company</p>
            <a href="#" class="btn-text">Get Starterd &rarr;</a>
        </div>
        <div>
            <!--
                img
                img
                img
            -->
        </div>
    </div>
</section>