<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="nav-toogle">
    <label for="nav-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>
    <div class="navigation__background">&nbsp;</div>
    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="#" class="navigation__link">About Yun Laser Die</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Why choose us</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Our Services</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Contact us</a></li>
        </ul>
    </nav>
</div>